<%= form_with(model: coin, local: true) do |form| %>
  <% if coin.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(coin.errors.count, "error") %> prohibited this coin from being saved:</h2>

      <ul>
      <% coin.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group col-md-6">
    <%= form.label :description %>
    <%= form.text_field :description, class:"form-control", placeholder:"Bitcoin"  %>
    <small id="emailHelp" class="form-text text-muted">Coloque o Nome da sua moeda.</small>
  </div>
  
  
  <div class="form-group col-md-6">
    <%= form.label :acronym %>
    <%= form.text_field :acronym, class:"form-control"%>
    <small id="emailHelp" class="form-text text-muted">Coloque a Sigla da sua moeda.</small>
  </div>

  <div class="form-group col-md-6">
    <%= form.label :url_image %>
    <%= form.text_field :url_image, class:"form-control" %>
    <small id="emailHelp" class="form-text text-muted">Url da imagem da sua moeda</small>
  </div>
  
  <div class="form-group col-md-6">
    <%= form.label :mining_type_id %>
    <%=form.select("mining_type_id", @mining_type_options, {include_blank: 'None'}, class:"form-control")%>
  </div>


  <div class="form-group col-md-6"> 
    <%= form.submit nil, class:"btn btn-success"%>
  </div>
<% end %>